{% extends 'base.html.twig' %}

{% block title %}Neato!{% endblock %}

{% block body %}
<style>
    label.label { display: inline-block; width: 100px; }
</style>

{% include 'index/header.html.twig' %}

<div class="wrapper">

    {{ form(form) }}

</div>
{% endblock %}

