{% extends 'base.html.twig' %}

{% block title %}Neato!{% endblock %}

{% block body %}
<style>
    .wrapper { margin: 1em auto; max-width: 600px; width: 95%;}
    .center { text-align: center; }
</style>

{% include 'index/header.html.twig' %}

<div class="wrapper">

</div>
{% endblock %}

