{% extends 'base.html.twig' %}

{% block title %}Neato!{% endblock %}

{% block body %}
<style>
    .wrapper { margin: 1em auto; max-width: 600px; width: 95%;}
    .center { text-align: center; }
</style>

{% include 'index/header.html.twig' %}

<div class="wrapper">

    <p>Neato! is a web directory for CHGMN, allowing people to share and discover
    services and resources on the network.</p>

    <p>Neato! was made by <a href="http://northstar.retro/~gothpanda/">@GothPanda</a>.</p>

</div>
{% endblock %}

