{% extends 'base.html.twig' %}

{% block title %}Neato!{% endblock %}

{% block body %}
<style>
    .wrapper { margin: 1em auto; max-width: 600px; width: 95%;}
    .center { text-align: center; }
</style>

<div class="wrapper">

    <p>Neato! is a web directory for CHGMN, allowing people to share and discover
    services and resources on the network.</p>

    <p>Each category with an [Xtra!] link has a news feed associated with it.</p>

    <p>All news items are currently provided by 
    <a href="https://abcnews.go.com/Site/page/rss-feeds-3520115">ABC News RSS</a>.
     If you'd like to suggest a feed for inclusion, 
     <a href="mailto:news@neato.retro">shoot us an email</a>.</p>

    <p>All weather data is provided by <a href="https://open-meteo.com/">Open-Meteo.com</a></p>


    <p>Neato! was made by <a href="http://northstar.retro/~gothpanda/">@GothPanda</a>.</p>

    <hr>

</div>
{% endblock %}

